.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.text-area {
    width: 65vw;
    height: 30vh;
}

.keyboard__container {
    display: flex;
    flex-direction: column;
}

.keys-row {
    display: flex
}

.key-single {
    padding: 10px;
    background-color: rgb(153, 153, 153);
    transition: background-color 300ms;
    margin: 3px;
}

.key-single.clicked {
    background-color: rgb(242, 137, 219);
    transition: background-color 300ms;

}